<!DOCTYPE html>
<html>
  <head>
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon2.ico">
    <title>Jobz Center</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but our site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
