<template>
  <div class="main-f row">
    <div class="col-4 flex-row-left">
      <img width="120" height="" src="../assets/logo1.png" class="img">
    </div>
    <div class="col-4 flex-row" id="copyright">
      © 2019 Jobz - Todos os direitos reservados
    </div>
    <div class="col-4 flex-row row text-right">
      <q-icon class="col-2 offset-3"  name="fab fa-facebook-f" />
      <q-icon class="col-2" name="fab fa-instagram" />
      <q-icon class="col-2" name="fab fa-linkedin-in" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Jfooter'
}
</script>

<style scoped>
.main-f{
  background-color: #5f1e78;
  color: white;
  height: 25vh;
  padding: 0% 5%;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.flex-row-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3%;
}
#copyright{
  font-size: 70%;
}
</style>
