<template>
  <q-layout-header class="header no-shadow">
    <div :class=" logo === 1 ? 'row txt-white' : 'row txt-black'">
      <div class="col-2 logo txt-white">
        <img v-if="logo === 1" width="90" height="40" src="../assets/logo1.png">
        <img v-else width="90" height="40" src="../assets/logo2.png">
      </div>
      <div class="col-1 offset-5 center head" @click="$router.push('/')">
        <span>Home</span>
      </div>
      <div class="col-1 center head">
        <span>Cadastrar-se</span>
      </div>
      <div class="col-1 center head">
        <span>Entrar</span>
      </div>
      <div class="col-2 center head">
        <span>Ofertar uma vaga</span>
      </div>
    </div>
  </q-layout-header>
</template>

<script>
export default {
  props: {
    logo: Number
  },
  name: 'Header',
  created () {
    console.log(this.logo)
  }
}
</script>

<style scoped>
.header {
  /* background-color: rgba(150, 149, 149, 0.4); */
  font-size: 80%;
  font-weight: 1000;
  font-weight: 300;
  padding: 0 2%;
}
.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo{
  padding: 1%;
}
.txt-white{
  color: #f4f4f4;
}
.txt-black{
  color: black;
}
.head{
  transition: 0.4s;
}
.head:hover{
    background-color: rgb(245, 245, 245, 0.3);
    cursor: pointer;
}
</style>
