<template>
<transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
  <q-layout view="hhh Lpr lfr" class="main">
    <div class="bg">
      <j-header :logo="1" />
      <q-page-container class="text-center">
        <div class="title">
          <h1 class="h1">Escolha o emprego dos sonhos, nós mostramos o caminho</h1>
          <!-- <h2>Prepare-se, estude, aprenda com a Jobz e torne-se um especialista da área que quiser</h2> -->
          <br>
          <br>
        </div>
        <div class="search shadow-12">
          <q-select class="select" filter-placeholder="Filtre a região" filter v-model="region" placeholder="Escolha região" :options="regionOptions" hide-underline/>
          <q-input class="input" v-model="keyword" placeholder="Pesquisa pela vaga ou empresa" hide-underline />
          <q-btn id="btn-search" @click="goToList()" icon-right="search">&nbsp;Pesquisar</q-btn>
        </div>
        <br>
        <br>
        <br>
        <div class="text-center text-white flex-column">
          <img src="../assets/question.png" width="50" height="50" alt="">
          <span style="font-size: 80%;">Não sei qual área seguir</span>
        </div>
        <br>
        <br>
        <br>
      </q-page-container>
    </div>
    <div id="section-2" class="row">
      <div class="col-6 text-left" id="left-side">
        <h1 class="title-2">This is Jobz</h1>
        <p id="text-jobz">Sim sim, nós te entendemos, não está fácil arranjar emprego, os cursos superiores
          custam caro, mesmo com um diploma, parece que as portas não se abrem para você, ou pelo menos,
          não onde deveriam se abrir, e ainda por cima você sente que a faculdade não te preparou bem para
          o mercado de trabalho. Se você sente isso, <b>então está você veio ao lugar certo.</b>
          <br>
          <br>
          Quer saber como a Jobz pode te ajudar a resolver isso? Então vem com a gente que iremos te guiar.
        </p>
        <q-btn id="btn-jobz" @click="goToSection3">Conheça a Jobz</q-btn>
      </div>
      <div class="col-6 text-right" id="right-side">
        <img width="550" src="http://eaicomeu.com.br/wp-content/uploads/2019/02/QUERIDO-DESCONHECIDO-820x500.jpg" alt="">
      </div>
    </div>
    <div id="section-3">
      <div class="text-center" id="top-side">
        <h1 class="title-2">Como a Jobz funciona</h1>
          <hr id="hr">
      </div>
      <div class="row text-center" id="bottom-side">
        <div class="col-3 box">
          <img src="../assets/job-search.png" width="80" alt=""><br><br>
          <p> Procure pelo tipo de vaga que você se interessa e escolha a sua favorita dentre as apresentadas</p>
        </div>
        <div class="col-3 box">
          <img src="../assets/tasks.png" width="80" alt=""><br><br>
          <p>Nós iremos verificar suas competências e as exigidas pela vaga. Se existir defasagem, será criado um plano de estudos para você.</p>
        </div>
        <div class="col-3 box">
          <img src="../assets/documents.png" width="80" alt=""><br><br>
          <p>Estude e se aprimore com os cursos fornecidos pela Jobz, que são especialmente direcionados para você e para aquela vaga. </p>
        </div>
        <div class="col-3 box">
          <img src="../assets/job.png" width="80" alt=""><br><br>
          <p> Apresente os certificados e faça a prova Jobz para atestar seus conhecimentos. Caso passe, a Jobz irá lhe indicar para a vaga, e você terá maiores chances de ser chamado!</p>
        </div>
      </div>
    </div>
    <j-footer/>
  </q-layout>
</transition>
</template>

<script>
import JFooter from '../components/Footer.vue'
import JHeader from '../components/Header.vue'

export default {
  components: {
    JFooter,
    JHeader
  },
  data () {
    return {
      keyword: '',
      region: '',
      area: '',
      regionOptions: [{ value: 1, label: 'Maringá' }, { value: 2, label: 'São Paulo' }, { value: 3, label: 'Rio de Janeiro' }],
      areaOptions: [{ value: 1, label: 'Front-end' }, { value: 2, label: 'Back-end' }, { value: 3, label: 'Suporte' }]
    }
  },
  methods: {
    goToSection3 () {
      let behavior = 'smooth'
      var elmnt = document.getElementById('section-3')
      elmnt.scrollIntoView({
        block: 'start',
        behavior
      })
    },
    goToList () {
      this.$router.push('/list')
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
.main{
  font-family: 'Quicksand', sans-serif;
}
.bg {
  background-image: url('./../assets/ofipiola.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}
.section-2{
  padding: 5% 2%;
}
.h1{
  font-size: 270% !important;
  margin-bottom: 2px;
  font-weight: 500;
}
h2 {
  font-size: 100% !important;
  margin-top: 0%;
}
.title {
  color: white;
  font-weight: 1100;
  padding-top: 5%;
}
.search {
  background-color: white;
  margin: 0 12%;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: row;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-company{
  background-color: #5F1E78;
  border-radius: 15px;
  font-size: 95%;
  padding: 10% 15%;
}
.btn-company:hover {
  transition: 0.4s;
  transform: scale(1.1)
}
.padding-icon{
  padding-right: 5%;
}
.input{
  width: 100%;
  padding: 0 2%;
  font-size: 70%;
}
.select{
  width: 60%;
  padding: 0 2%;
  font-size: 70%;
}
.flex-column{
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  transition: 0.4s;
  padding: 2%;
  border-radius: 15px;
}
.flex-column:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.padding-span{
  padding-top: 3%;
}
.title-2{
  font-size: 200%;
  font-weight: 500;
  margin-top: 0;
  color: rgb(83, 83, 83);
}
.box{
  padding: 1% 3%;
  letter-spacing: 0.5px;
}
#section-2{
  background-color: #f4f4f4;
  height: 90vh;
}
#section-3{
  background-color: #f4f4f4;
  height: 100vh;
}
#btn-search{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #5F1E78;
  padding: 2% 2%;
  width: 40%;
  font-size: 80%;
}
#btn-jobz{
  background-color: #5F1E78;
  color: white;
}
#left-side{
  padding: 7% 4%;
  color: rgb(83, 83, 83);
}
#right-side{
  padding: 7% 0;
}
#top-side{
  padding-top: 5%;
}
#text-jobz{
  font-size: 90%;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
#hr{
  border: 1.5px solid #5F1E78;
  border-radius: 10%;
  width: 12%;
}
#bottom-side{
   padding: 7% 1%;
   font-size: 80%;
}
</style>
